@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
}
.container {
    height: 400px;
    width: 400px;
    border: 1px solid rgb(113, 113, 160);
    border-radius: 5px;
    margin: 10rem auto;
    text-align: center;
    background: linear-gradient(rgba(177, 177, 238, 0.521), rgba(141, 91, 91, 0.432)),
    url('../images/1.jpg');
    background-size: cover;
    background-position: center;

}
.container > input, .container button {
    display: block;
    margin: 1rem auto;
}

.container button {
    width: 5rem;
    padding: 0.3rem;
    color: aliceblue;
    background-color: rgba(178, 178, 223, 0.767);
}
.container h3 {
    margin: 2rem;
    color: aliceblue;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.favoriteMovieTitle {
    color: aliceblue;
    font-size: 1.5rem;
}
.movieReleaseYear {
    color: aliceblue;
    font-size: 1.5rem;
}